{% extends 'layout.html' %}

{% block title %}Perfil de {{ request.user.username }}{% endblock %}

{% block body %}
<!-- Sección de perfil de usuario-->
<div class="container mt-5">
    <div class="card border-0 shadow-sm">
        <div class="card-body">
            <h3 class="card-title mb-4"> <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mood-happy" width="60" height="60" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                <path d="M9 9l.01 0" />
                <path d="M15 9l.01 0" />
                <path d="M8 13a4 4 0 1 0 8 0h-8" />
              </svg>
              Perfil de {{ request.user.username }}</h3>
            
            <ul class="list-unstyled">
                <!-- Nombre completo del usuario -->
                <li class="mb-3">
                    <strong>Nombre:</strong> {{ request.user.first_name }} {{ request.user.last_name }}
                </li>
                
                <!-- Correo electrónico del usuario -->
                <li class="mb-3">
                    <strong>Correo electrónico:</strong> {{ request.user.email }}
                </li>
                
                <!-- Género del usuario -->
                <li class="mb-3">
                    <strong>Género:</strong> {{ request.user.get_gender_display }}
                </li>

                 <!-- Rol en el sistema -->
                 <li class="mb-3">
                    <strong>Rol en el sistema:</strong> {{ request.user.get_role_display }}
                </li>

                <!--  Se unió el: -->
                <li><i class="icono fas fa-user-check"></i><strong>Se unió el:</strong> {{ request.user.date_joined|date:"d M, Y" }}
                </li>

            </ul>
        </div>
    </div>
</div>
{% endblock %}
