{% extends 'layout.html' %}

{% block title %}Lista de Usuarios{% endblock %}

{% block body %}
<div class="container mt-5">
    <h2>Lista de Usuarios</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre de Usuario</th>
                <th>Correo Electrónico</th>
                <th>Nombre Completo</th>
                <th>Género</th>
                <th>Rol</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td>{{ user.get_gender_display }}</td>
                <td>{{ user.get_role_display }}</td>
                <td>
                    <a href="{% url 'manage:edit_user' user.id %}" class="btn btn-success">Editar Usuario</a>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}