{% extends 'layout.html' %}

{% block ogtitle %}{{ blog.title }}{% endblock %}
{% block ogdescription %}{{ blog.desc }}{% endblock %}
{% block ogimage %}{{ blog.thumbnail.url }}{% endblock %}

{% block title %}Blog{% endblock %}

{% block body %}
{% load static %}
<div class="container mt-5 mb-5">
  <div class="row">
    <h2>
      {{ blog.title }}
    </h2>
  </div>
  <div class="row">
    <p>Autor: {{ blog.creator }} | Vistas: {{ blog.views }} | Actualizado: hace {{ blog.published_on|timesince }}</p>
  </div>
  <div class="row mb-3">
      {% if blog.category.is_active %}
      <div class="col">
        <a type="button" href="{% url 'get_category' blog.category.slug %}" class="btn btn-primary btn-sm ms-auto">{{ blog.category.category }}</a>
      </div>
      {% endif %}
  </div>

  <!-- Botón Destacar Artículo -->
  <div class="row mb-3">
    {% if request.user.is_authenticated and request.user.role == 'admin' %}
      <div class="row mb-3">
        <div class="col">
          <button type="button" class="btn btn-warning" id="setFeaturedButton" data-blog-id="{{ blog.id }}" data-bs-toggle="modal" data-bs-target="#confirmFeaturedModal">
            {% if blog.is_featured %}
            Quitar de Destacados
            {% else %}
            Marcar como Destacado
            {% endif %}
          </button>
        </div>
      </div>
    {% endif %}
  </div>

  <div class="row">
    <div class="ratio ratio-16x9">
      <img src="{{ blog.thumbnail.url }}" class="img-fluid rounded mx-auto d-block" alt="miniatura del blog">
    </div>
    <p>
      {{ blog.content|safe }}
    </p>
  </div>
  <br>
  <div class="row" id="features">
    <div class="col">
      <form action="{% url 'blogs:create_bookmark' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{blog.id}}">
        <button type="submit" style="background:none!important;border:none;padding:0!important;" class="float-end text-primary">
          {% if bookmarked %}
          <i class="bi bi-bookmark-check-fill"></i>
          {% else %}
          <i class="bi bi-bookmark-plus"></i>
          {% endif %}
        </button>
      </form>
    </div>
    <div class="col">
      <button class="text-primary float-end" style="background:none!important;border:none;padding:0!important;" data-bs-toggle="modal" data-bs-target="#shareModal">
        <i class="bi bi-box-arrow-up"></i>
      </button>
    </div>
  </div>
  <br><br><hr>
  
  <!-- Contadores de Calificaciones -->
  <div class="row mb-3">
    <div class="col">
      <div class="card p-3 shadow-sm rating-card">
        <p class="mb-2 rating-title">Calificaciones actuales del Artículo:</p>
          <div class="col d-flex justify-content-between">
            <div class="me-3 text-center rating-block">
              <p><i class="fas fa-star star-yellow"></i></p><p> {{ blog.one_star_ratings }}</p>
            </div>
            <div class="me-3 text-center rating-block">
              <p><i class="fas fa-star star-yellow"></i><i class="fas fa-star star-yellow"></i></p><p> {{ blog.two_star_ratings }}</p>
            </div>
            <div class="me-3 text-center rating-block">
              <p><i class="fas fa-star star-yellow"></i><i class="fas fa-star star-yellow"></i><i class="fas fa-star star-yellow"></i></p><p> {{ blog.three_star_ratings }}</p>
            </div>
          </div>
       </div>
    </div>
  </div>

  <!-- Formulario de Calificaciones -->
  {% if user.is_authenticated %}
  <div class="row mb-3">
    <div class="col">
      <div class="card p-3 shadow-sm rating-card">
        <form action="{% url 'blogs:rate_blog' blog.id %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="rating" class="form-label rating-label">Calificar:</label>
            <div id="rating" class="rating d-flex">
              <div class="me-3 text-center rating-block">
                <input type="radio" id="star1" name="rating" value="1">
                <label for="star1"><i class="fas fa-star star-yellow"></i></label>
              </div>
              <div class="me-3 text-center rating-block">
                <input type="radio" id="star2" name="rating" value="2">
                <label for="star2"><i class="fas fa-star star-yellow"></i><i class="fas fa-star star-yellow"></i></label>
              </div>
              <div class="me-3 text-center rating-block">
                <input type="radio" id="star3" name="rating" value="3">
                <label for="star3"><i class="fas fa-star star-yellow"></i><i class="fas fa-star star-yellow"></i><i class="fas fa-star star-yellow"></i></label>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary mt-2">Enviar Calificación</button>
        </form>
     </div> 
    </div>
  </div>
  {% endif %}

  <div id="disqus_thread"></div>
  <script>
      /**
      *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
      *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
      /*
      var disqus_config = function () {
      this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };
      */
      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://cloudcms.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>

<div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="shareModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Compartir</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank" class="btn btn-primary">
          <i class="bi bi-facebook"></i>
        </a>
        <a href="https://api.whatsapp.com/send?text={{ request.build_absolute_uri }}" target="_blank" class="btn btn-success">
          <i class="bi bi-whatsapp"></i>
        </a>
        <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}&text={{ blog.title }}" target="_blank" class="btn btn-dark">
          <i class="bi bi-twitter-x"></i>
        </a>
        <a href="https://www.instagram.com/?url={{ request.build_absolute_uri }}" target="_blank" class="btn btn-info">
          <i class="bi bi-instagram"></i>
        </a>
        <a href="https://t.me/share/url?url={{ request.build_absolute_uri }}&text={{ blog.title }}" target="_blank" class="btn btn-primary">
          <i class="bi bi-telegram"></i>
        </a>
        <button class="btn btn-outline-secondary rounded-pill" id="copyBtn" onclick="copyUrl()">
          <i class="bi bi-copy"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal de Confirmación -->
<div class="modal fade" id="confirmFeaturedModal" tabindex="-1" aria-labelledby="confirmFeaturedModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmFeaturedModalLabel">Confirmación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="confirmFeaturedMessage"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="confirmFeaturedButton">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/blogs/blog.js' %}"></script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const setFeaturedButton = document.getElementById('setFeaturedButton');
    const confirmFeaturedModal = new bootstrap.Modal(document.getElementById('confirmFeaturedModal'));
    const confirmFeaturedButton = document.getElementById('confirmFeaturedButton');
    const confirmFeaturedMessage = document.getElementById('confirmFeaturedMessage');
  
    if (setFeaturedButton) {
      setFeaturedButton.addEventListener('click', function() {
        const blogId = this.getAttribute('data-blog-id');
        const isFeatured = this.textContent.includes('Quitar');
        confirmFeaturedMessage.textContent = isFeatured ? '¿Desea retirar de Destacados?' : '¿Desea destacar este Artículo?';
        confirmFeaturedButton.setAttribute('data-blog-id', blogId);
        confirmFeaturedButton.setAttribute('data-is-featured', isFeatured);
        confirmFeaturedModal.show();
      });
    }
  
    confirmFeaturedButton.addEventListener('click', function() {
      const blogId = this.getAttribute('data-blog-id');
      const isFeatured = this.getAttribute('data-is-featured') === 'true';
  
      // Deshabilitar el botón para evitar múltiples clics
      confirmFeaturedButton.disabled = true;
  
      // Enviar solicitud para alternar el estado de destacado
      fetch(`/manage/set_featured_blog/${blogId}/`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': '{{ csrf_token }}'
        },
        body: JSON.stringify({ is_featured: !isFeatured })
      })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          console.log('Estado de destacado alternado');
          window.location.reload();
        } else {
          alert('Error al alternar el estado de destacado.');
          console.error('Error:', data.error);
        }
      })
      .catch(error => {
        alert('Error al alternar el estado de destacado.');
        console.error('Error:', error);
      })
      .finally(() => {
        confirmFeaturedModal.hide();
        confirmFeaturedButton.disabled = false;
      });
    });
  });
</script>

<script>
  function copyUrl() {
    const url = "{{ request.build_absolute_uri }}";
    navigator.clipboard.writeText(url).then(function() {
      alert('URL copiada al portapapeles');
    }, function(err) {
      console.error('Error al copiar la URL: ', err);
    });
  }
  
  </script>

<style>
  .star-yellow {
    color: yellow;
}

.card {
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    background-color: #f8f9fa;
}

.card p {
    margin-bottom: 0;
}

.text-center {
    text-align: center;
}

.rating-card {
  background-color: #fdfdfd; 
  border-color: #f0f0f0;
}

.rating-block {
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rating-block p {
    margin: 0;
    font-weight: bold;
}

.rating-block label {
    cursor: pointer;
}

.rating-block input[type="radio"] {
    display: none;
}

.rating-block input[type="radio"] + label i {
    font-size: 24px;
    color: #ccc;
}

.rating-block input[type="radio"]:checked + label i {
    color: yellow;
}

.rating-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
}

.rating-label {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
}
</style>
{% endblock %}  
