{% extends 'layout.html' %}

{% block title %}Estadísticas de Blogs{% endblock %}

{% block body %}
<div class="container mt-5">
  <h2>Estadísticas de Blogs</h2>
  <div class="row">
    <div class="col-md-6 mb-4">
      <div style="width: 80%; margin: auto;">
        <canvas id="shareCountChart"></canvas>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div style="width: 80%; margin: auto;">
        <canvas id="viewsChart"></canvas>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-4 mb-4">
      <div style="width: 80%; margin: auto;">
        <canvas id="oneStarChart"></canvas>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div style="width: 80%; margin: auto;">
        <canvas id="twoStarChart"></canvas>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div style="width: 80%; margin: auto;">
        <canvas id="threeStarChart"></canvas>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
<script>
  var shareCountChart = new Chart(document.getElementById('shareCountChart').getContext('2d'), {
    type: 'bar',
    data: {
        labels: {{ labels|safe }},
        datasets: [{
            label: 'Veces Compartido',
            data: {{ share_counts|safe }},
            backgroundColor: 'rgba(54, 162, 235, 0.2)',
            borderColor: 'rgba(54, 162, 235, 1)',
            borderWidth: 1
        }]
    },
    options: {
        responsive: true,
        plugins: {
            legend: { position: 'top' },
            title: { display: true, text: 'Blogs más compartidos' },
            datalabels: {
              color: '#000',
              formatter: (value, context) => {
                return value;
              },
              font: {
                weight: 'bold'
              }
            } 
        },
        scales: {
            x: {
                display: false // Ocultar etiquetas del eje X
            }
        }
    },
    
});

var viewsChart = new Chart(document.getElementById('viewsChart').getContext('2d'), {
  type: 'bar',
  data: {
    labels: {{ labels|safe }},
    datasets: [{
        label: 'Visualizaciones',
        data: {{ views|safe }},
        backgroundColor: 'rgba(153, 102, 255, 0.2)',
        borderColor: 'rgba(153, 102, 255, 1)',
        borderWidth: 1
    }]
  },
  options: {
    responsive: true,
    plugins: {
      legend: { position: 'top' },
      title: { display: true, text: 'Visualizaciones de los blogs' },
      datalabels: {
        color: '#000',
        formatter: (value, context) => {
          return value;
        },
        font: {
          weight: 'bold'
        }
      }
    },
    scales: {
        x: {
            display: false // Ocultar etiquetas del eje X
        }
    }
  },
  
});

var oneStarChart = new Chart(document.getElementById('oneStarChart').getContext('2d'), {
  type: 'bar',
  data: {
    labels: {{ labels|safe }},
    datasets: [
      {
        label: '1 Estrella',
        data: {{ one_star_ratings|safe }},
        backgroundColor: 'rgba(255, 99, 132, 0.2)',
        borderColor: 'rgba(255, 99, 132, 1)',
        borderWidth: 1
      }
    ]
  },
  options: {
    responsive: true,
    plugins: {
      legend: { position: 'top' },
      title: { display: true, text: 'Blogs calificados con 1 Estrella' },
      datalabels: {
        color: '#000',
        formatter: (value, context) => {
          return value;
        },
        font: {
          weight: 'bold'
        }
      }
    },
    scales: {
        x: {
            display: false // Ocultar etiquetas del eje X
        }
    }
  },

});

var twoStarChart = new Chart(document.getElementById('twoStarChart').getContext('2d'), {
  type: 'bar',
  data: {
    labels: {{ labels|safe }},
    datasets: [
      {
        label: '2 Estrellas',
        data: {{ two_star_ratings|safe }},
        backgroundColor: 'rgba(54, 162, 235, 0.2)',
        borderColor: 'rgba(54, 162, 235, 1)',
        borderWidth: 1
      }
    ]
  },
  options: {
    responsive: true,
    plugins: {
      legend: { position: 'top' },
      title: { display: true, text: 'Blogs calificados con 2 Estrellas' },
      datalabels: {
        color: '#000',
        formatter: (value, context) => {
          return value;
        },
        font: {
          weight: 'bold'
        }
      }
    },
    scales: {
        x: {
            display: false // Ocultar etiquetas del eje X
        }
    }
  },

});

var threeStarChart = new Chart(document.getElementById('threeStarChart').getContext('2d'), {
  type: 'bar',
  data: {
    labels: {{ labels|safe }},
    datasets: [
      {
        label: '3 Estrellas',
        data: {{ three_star_ratings|safe }},
        backgroundColor: 'rgba(75, 192, 192, 0.2)',
        borderColor: 'rgba(75, 192, 192, 1)',
        borderWidth: 1
      }
    ]
  },
  options: {
    responsive: true,
    plugins: {
      legend: { position: 'top' },
      title: { display: true, text: 'Blogs calificados con 3 Estrellas' },
      datalabels: {
        color: '#000',
        formatter: (value, context) => {
          return value;
        },
        font: {
          weight: 'bold'
        }
      }
    },
    scales: {
        x: {
            display: false // Ocultar etiquetas del eje X
        }
    }
  },
  
});
</script>
{% endblock %}