{% extends 'layout.html' %}

{% block ogtitle %}{{ blog.title }}{% endblock %}
{% block ogdescription %}{{ blog.desc }}{% endblock %}
{% block ogimage %}{{ blog.thumbnail.url }}{% endblock %}

{% block title %}Vista Previa del Blog{% endblock %}

{% block body %}
{% load static %}
<div class="container mt-5 mb-5">
  <div class="row">
    <h2>
      {{ blog.title }}
    </h2>
  </div>
  <div class="row">
    <p>Autor: {{ blog.creator }} | Estado actual: {% if blog.status == 0 %}Borrador{% elif blog.status == 1 %}En edición{% elif blog.status == 2 %}En espera{% elif blog.status == 3 %}Publicado{% endif %} | Actualizado: hace {{ blog.published_on|timesince }}</p>
  </div>
  {% if blog.last_modified_by and blog.last_modified_by_role %}
  <div class="row">
    <p>Última modificación hecha por: {{ blog.last_modified_by }} ({{ blog.last_modified_by_role }})</p>
  </div>
  {% endif %}

  {% if blog.status_comments and blog.previous_status > blog.status %} <!--Mostrar comentario de devolución si existe -->
    {% if last_version and blog.title == last_version.title and blog.desc == last_version.desc and blog.content == last_version.content and blog.thumbnail.url == last_version.thumbnail.url and blog.category == last_version.category %}
      <div class="row mt-3">
        <div class="col">
          <div class="card border-warning">
            <div class="card-header bg-warning text-dark">
              <strong>Comentario de devolución</strong>
            </div>
            <div class="card-body">
              <p class="card-text">{{ blog.status_comments|linebreaksbr }}</p>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endif %}

  <div class="row mb-3">
      {% if blog.category.is_active %}
      <div class="col">
        <p>Categoria: <span style="font-weight: bold; color: #007bff;">{{ blog.category.category }}</span></p>
      </div>
      {% endif %}
  </div>

  <!-- Botón para editar el blog, visible solo para usuarios con permisos -->
  {% if perms.accounts.can_create_blog or perms.accounts.can_edit_blog %}
  <div class="row mb-3">
    <div class="col">
      <a href="{% url 'manage:edit_blog' blog.id %}" class="btn btn-primary">Modificar</a>
    </div>
  </div>
  {% endif %}


  <div class="row">
    <div class="ratio ratio-16x9">
      <img src="{{ blog.thumbnail.url }}" class="img-fluid rounded mx-auto d-block" alt="miniatura del blog">
    </div>
    <p>
      {{ blog.content|safe }}
    </p>
  </div>
</div>
{% endblock %}