{% extends 'layout.html' %}

{% block title %}Category{% endblock %}

{% block body %}
<div class="container mt-5">
  <div class="row mb-3">
    <h1 class="text-center">
      Administrar categorías
    </h1>
  </div>
  <a role="button" class="btn btn-secondary btn-sm round-btn" href='{% url 'manage:create_category' %}'>
    <i class="bi bi-plus-lg"></i>
    Crear categoría
  </a>
  
  <h3>Categorías Moderadas:</h3>
  <div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Descripción</th>
          <th scope="col">SubCategoría</th> <!-- Nuevo campo -->
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for category in categories %}
          {% if category.category_type == 'moderada' %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ category.id }}</td>
              <td>{{ category.category|truncatechars:30 }}</td>
              <td>{{ category.desc|truncatechars:50 }}</td>
              <td>
                {% if category.subcategory_type == 'publica' %}
                  Pública
                {% elif category.subcategory_type == 'suscriptores' %}
                  Para suscriptores
                {% elif category.subcategory_type == 'paga' %}
                  Paga
                {% endif %}
              </td>
              <td>
                <a class="btn btn-warning" href="{% url 'manage:edit_category' category.id %}" role="button">
                  <i class="bi bi-pencil-square"></i>
                  Editar
                </a>
                <a class="btn btn-danger" href="{% url 'manage:delete_category' category.id %}" role="button">
                  <i class="bi bi-trash3"></i>
                  Borrar
                </a>
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
  
  <h3>Categorías No Moderadas:</h3>
  <div class="row">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Descripción</th>
          <th scope="col">SubCategoría</th> <!-- Nuevo campo -->
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for category in categories %}
          {% if category.category_type == 'no_moderada' %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ category.id }}</td>
              <td>{{ category.category|truncatechars:30 }}</td>
              <td>{{ category.desc|truncatechars:50 }}</td>
              <td>
                {% if category.subcategory_type == 'publica' %}
                  Pública
                {% elif category.subcategory_type == 'suscriptores' %}
                  Para suscriptores
                {% elif category.subcategory_type == 'paga' %}
                  Paga
                {% endif %}
              </td>
              <td>
                <a class="btn btn-warning" href="{% url 'manage:edit_category' category.id %}" role="button">
                  <i class="bi bi-pencil-square"></i>
                  Editar
                </a>
                <a class="btn btn-danger" href="{% url 'manage:delete_category' category.id %}" role="button">
                  <i class="bi bi-trash3"></i>
                  Borrar
                </a>
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}