{% extends 'layout.html' %}

{% block title %}Añadir Categoría{% endblock %}

{% block body %}
<div class="container mt-5 mb-5">
  <form method="post" action="{% url 'manage:create_category' %}">
    {% csrf_token %}
    <h1 class="text-center mb-3">
      Añadir Categoría
    </h1>
    <div class="mb-3">
      <label for="category" class="form-label">Categoría:</label>
      <input type="text" class="form-control" id="category" placeholder="categoría" name="category">
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label">Descripción:</label>
      <textarea class="form-control" id="desc" rows="5" name="desc" placeholder="Escribe la descripción aquí"></textarea>
    </div>
    <div class="mb-3">
      <label for="category_type" class="form-label">Tipo de Categoría:</label>
      <select class="form-control" id="category_type" name="category_type" required>
        <option value="moderada">Moderada</option>
        <option value="no_moderada">No Moderada</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="subcategory_type" class="form-label">Tipo de Subcategoría:</label>
      <select class="form-control" id="subcategory_type" name="subcategory_type" required>
        <option value="publica">Pública</option>
        <option value="suscriptores">Para Suscriptores</option>
        <option value="paga">De Paga</option>
      </select>
    </div>
    <div class="mb-3" id="costo_membresia_container" style="display: none;">
      <label for="costo_membresia" class="form-label">Ingrese el costo de la membresía de esta categoría:</label>
      <input type="number" class="form-control" id="costo_membresia" name="costo_membresia" value="0">
    </div>
    <section style="display: flex; justify-content: flex-end; margin-right: 100px; margin-top: 50px";>
      <div class="d-flex">
        <button type="submit" class="btn btn-outline-success" style="margin-right: 10px";>Confirmar</button>
        <button type="button" class="btn btn-outline-success" onclick="window.location.href='/manage/blog/'">Cancelar</button>
      </div>
    </section>
  </form>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const subcategoryTypeSelect = document.getElementById('subcategory_type');
    const costoMembresiaContainer = document.getElementById('costo_membresia_container');
  
    subcategoryTypeSelect.addEventListener('change', function() {
      if (this.value === 'paga') {
        costoMembresiaContainer.style.display = 'block';
      } else {
        costoMembresiaContainer.style.display = 'none';
      }
    });
  });
  </script>
{% endblock %}