{% extends 'layout.html' %}

{% block title %}Editar Artículo{% endblock %}

{% block body %}
<div class="container mt-5 mb-5">
  <form method="post" action="{% url 'manage:edit_blog' blog.id %}" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{ blog.id }}">
    <h1 class="text-center mb-3">
      {% if perms.accounts.can_create_blog %}Editar Borrador{% else %}Editar Artículo{% endif %}
    </h1>
    <div class="mb-3">
      <label for="title" class="form-label">Título:</label>
      <input type="text" class="form-control" id="title" placeholder="Título" name="title" value="{{ blog.title }}" required autofocus>
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label">Descripción:</label>
      <textarea class="form-control" placeholder="Escribe la descripción aquí" id="desc" style="height: 100px" name="desc" >{{ blog.desc }}</textarea>
    </div>
    <br>
    {{ form.media }}
    {{ form.as_p }}
    <div class="row mb-3">
        <label for="thumbnail" class="form-label">Miniatura:</label>
        {% if perms.accounts.can_publish_blog %}
          <div class="form-control" readonly>
            <small>Actual: {{ blog.thumbnail.url }}</small>
          </div>
        {% else %}
          <input class="form-control" type="file" id="thumbnail" name="thumbnail" accept="image/*">
          <small>Actual: <a class="text-decoration-none" href="{{ blog.thumbnail.url }}">{{ blog.thumbnail.url }}</a></small>
        {% endif %}
      </div>
      <div class="mb-3">
        <label for="current_category" class="form-label">Categoría actual:</label>
        <input type="text" class="form-control" id="current_category" value="{{ blog.category.category }}" disabled>
      </div>
      <div class="mb-3">
        <div class="mb-3">
          <label for="category_type" class="form-label">Tipo de categoría:</label>
          <select id="category_type" class="form-select" aria-label="select example" disabled required>
            <option disabled selected value=''>tipo de categoría</option>
            <option value="moderada" {% if blog.category.category_type == "moderada" %}selected{% endif %}>Moderada</option>
            <option value="no_moderada" {% if blog.category.category_type == "no_moderada" %}selected{% endif %}>No Moderada</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="subcategory_type" class="form-label">Tipo de subcategoría:</label>
          <select id="subcategory_type" class="form-select" aria-label="select example" name="subcategory_type" disabled  required>
            <option disabled selected value=''>Tipo de subcategoría</option>
            <option value="publica" {% if blog.category.subcategory_type == "publica" %}selected{% endif %}>Pública</option>
            <option value="suscriptores" {% if blog.category.subcategory_type == "suscriptores" %}selected{% endif %}>Para Suscriptores</option>
            <option value="paga" {% if blog.category.subcategory_type == "paga" %}selected{% endif %}>De Paga</option>
          </select>
        </div>
        <div class="mb-3" style="display: none;">
          <label for="category" class="form-label">Categoría:</label>
          <div class="mb-3">
            <input type="text" class="form-control" id="category_display" value="{{ blog.category.category }}" disabled>
            <input type="hidden" name="category" value="{{ blog.category.id }}">
          </div>
          {% if perms.accounts.can_create_category %}
          <small>¿No tienes categoría? <a class="text-decoration-none" href="{% url 'manage:create_category' %}">Crear</a></small>
          {% endif %}
        </div>
      </div>
    <br>
    <div class="mb-3">
      <label for="current_status" class="form-label">Estado actual:</label>
      <input type="text" class="form-control" id="current_status" value="{% if blog.status == 0 %}Borrador{% elif blog.status == 1 %}En edición{% elif blog.status == 2 %}En espera{% elif blog.status == 3 %}Publicado{% endif %}" disabled>
    </div>
    <div class="row">
      <div class="col-4">
        <p>Cambiar de estado:</p>
      </div>
      <div class="col-8">
        <div id="status-options">
          <!-- Opciones de estado se llenarán dinámicamente con JavaScript -->
        </div>
      </div>
    </div>
    <!-- Agregar campo para programar la publicación -->
    <div class="mb-3" id="schedule-publication" style="display: none;">
      <label for="scheduled_date" class="form-label">Programar publicación:</label>
      <input type="datetime-local" class="form-control" id="scheduled_date" name="scheduled_date">
    </div>
    <div class="row mb-3">
      <label for="status_comments" class="form-label">Comentarios:</label>
      <textarea class="form-control" placeholder="Retroalimentación:" id="status_comments" style="height: 100px" name="status_comments">{{ blog.status_comments|default_if_none:"" }}</textarea>
    </div>
    {% if blog.last_modified_by %}
    <div class="row mb-3">
      <p style="margin-top: 20px; margin-left: 100px;">Última modificación por: {{ blog.last_modified_by.username }} ({{ blog.last_modified_by_role }})</p>
    </div>
    {% endif %}
    <section style="display: flex; justify-content: flex-end; margin-right: 100px; margin-top: 50px;">
      <div class="d-flex">
        <button type="submit" class="btn btn-outline-success" style="margin-right: 10px;">Guardar</button>
        <button type="button" class="btn btn-outline-success" onclick="window.location.href='/manage/blog/'">Cancelar</button>
      </div>
    </section>
  </form>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
  const categoryTypeSelect = document.getElementById('category_type');
  const subcategoryTypeSelect = document.getElementById('subcategory_type'); // Añadido: Selección de subcategoría
  const categoriesSelect = document.getElementById('category');
  const statusOptionsDiv = document.getElementById('status-options');
  const schedulePublicationDiv = document.getElementById('schedule-publication'); //Referencia al div de programación
  const scheduledDateInput = document.getElementById('scheduled_date'); //Referencia al input de fecha programada


  // Opciones de estado según el tipo de categoría
  const statusOptions = {
    moderada: `
      
      {% if perms.accounts.can_create_blog %}
        <section style="display: flex; justify-content: space-between;">
          <div class="form-check col-3">
            <input class="form-check-input" type="radio" name="status" value="0" id="draft">
            <label class="form-check-label" for="draft">Mantener en borrador</label>
          </div>
          <div class="form-check col-3">
            <input class="form-check-input" type="radio" name="status" value="1" id="editing">
            <label class="form-check-label" for="editing">Para edición</label>
          </div>
        </section>
      {% elif perms.accounts.can_edit_blog %}
        <section style="display: flex; justify-content: space-between;"> 
          <div class="form-check col-3">
            <input class="form-check-input" type="radio" name="status" value="0" id="draft">
            <label class="form-check-label" for="draft">Borrador</label>
          </div>
          <div class="form-check col-3">
            <input class="form-check-input" type="radio" name="status" value="1" id="editing">
            <label class="form-check-label" for="editing">
                Mantener en edición
            </label>
          </div>
          <div class="form-check col-3">
            <input class="form-check-input" type="radio" name="status" value="2" id="waiting">
            <label class="form-check-label" for="waiting">Aprobar</label>
          </div>
        </section>
      {% elif perms.accounts.can_publish_blog %}
        <section style="display: flex; justify-content: space-between;">
          <div class="form-check col-3">
            <input class="form-check-input" type="radio" name="status" value="1" id="editing">
            <label class="form-check-label" for="editing">Devolver</label>
          </div>
          <div class="form-check col-3">
            <input class="form-check-input" type="radio" name="status" value="2" id="waiting">
            <label class="form-check-label" for="waiting">En espera</label>
          </div>
          <div class="form-check col-3">
            <input class="form-check-input" type="radio" name="status" value="3" id="publish">
            <label class="form-check-label" for="publish">Publicar</label>
          </div>
          <div class="form-check col-3">
            <input class="form-check-input" type="radio" name="status" value="2" id="schedule"> <!--Opción para programar publicación -->
            <label class="form-check-label" for="schedule">Programar Publicación</label>
          </div>
        </section>
      {% endif %}
    `,
    no_moderada: `
      {% if perms.accounts.can_create_blog %}
        <section style="display: flex; justify-content: space-between;">
          <div class="form-check col-3">
            <input class="form-check-input" type="radio" name="status" value="0" id="draft" {% if blog.status == 0 %}checked{% endif %}>
            <label class="form-check-label" for="draft">Borrador</label>
          </div>
          <div class="form-check col-3">
            <input class="form-check-input" type="radio" name="status" value="3" id="publish" {% if blog.status == 3 %}checked{% endif %}>
            <label class="form-check-label" for="publish">Publicar</label>
          </div>
          <div class="form-check col-3">
            <input class="form-check-input" type="radio" name="status" value="2" id="schedule"> <!--Opción para programar publicación -->
            <label class="form-check-label" for="schedule">Programar Publicación</label>
        </section>
      {% elif perms.accounts.can_publish_blog %}
        <section style="display: flex; justify-content: space-between;">
          <div class="form-check col-3">
            <input class="form-check-input" type="radio" name="status" value="0" id="draft">
            <label class="form-check-label" for="draft">Devolver</label>
          </div>
        </section>
      {% endif %}
    `
  };

  // Función para actualizar las opciones de estado según el tipo de categoría seleccionado
  function updateStatusOptions() {
    const selectedCategoryType = categoryTypeSelect.value;
    const options = statusOptions[selectedCategoryType] || '';
    statusOptionsDiv.innerHTML = options;

    // Mostrar u ocultar el campo de programación según la opción seleccionada
    const scheduleRadio = document.getElementById('schedule'); //Referencia al radio button de programación
    if (scheduleRadio) {
      scheduleRadio.addEventListener('change', function() {
        if (this.checked) {
          schedulePublicationDiv.style.display = 'block'; // Mostrar el div de programación
        } else {
          schedulePublicationDiv.style.display = 'none'; // Ocultar el div de programación
        }
      });
    }

  }

  // Función para filtrar las categorías según el tipo de categoría y subcategoría seleccionados
  function filterCategories() {
    const selectedCategoryType = categoryTypeSelect.value;
    const selectedSubcategoryType = subcategoryTypeSelect.value; // Obtener el valor de la subcategoría seleccionada
    for (let option of categoriesSelect.options) {
      if (option.getAttribute('data-type') === selectedCategoryType && option.getAttribute('data-subtype') === selectedSubcategoryType) {
        option.style.display = 'block';
      } else {
        option.style.display = 'none';
      }
    }
  }

  // Evento para actualizar las opciones de estado y filtrar las categorías cuando se cambia el tipo de categoría
  categoryTypeSelect.addEventListener('change', function() {
    updateStatusOptions();
    filterCategories();
  });

  // Evento para filtrar las categorías cuando se cambia el tipo de subcategoría
  subcategoryTypeSelect.addEventListener('change', function() {
    filterCategories();
  });

  // Llamar inicialmente para establecer las opciones correctas y filtrar las categorías correctas
  updateStatusOptions();
  filterCategories();
});
</script>
{% endblock %}