<!doctype html>
<html lang="es" data-bs-theme="dark">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <meta property="og:title" content="{% block ogtitle %}CloudCMS: Sistema de Gestión de Contenidos{% endblock %}">
    <meta property="og:image" itemprop="image" content="{{ SITE_URL }}{% block ogimage %}{% static 'img/og.png' %}{% endblock %}">
    <meta property="og:description" content="{% block ogdescription %}Un sitio de gestión de artículos que permite ver/crear/editar/eliminar artículos.{% endblock %}">
  
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png">
    
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'bootstrap-icons/bootstrap-icons.css' %}">
    <title>{% block title %}{% endblock %}</title>
  </head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-success fixed-top">
  <div class="container">
    <!-- Marca del sitio -->
    <a class="navbar-brand" href="{% url 'index' %}">
      <img src="{% static 'img/logo.png' %}" alt="Logo" width="114" height="30" class="d-inline-block align-text-top">
    </a>
    <!-- Botón de navegación móvil -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Contenido del Navbar -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Elementos de navegación alineados a la izquierda -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Menú desplegable de Categorías -->
        <!-- Menú desplegable de Categorías -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="categoriesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-grid text-white"></i>
            Categorías
          </a>
          <ul class="dropdown-menu" aria-labelledby="categoriesDropdown">
            {% for category in categories %}
            <li>
              <a class="dropdown-item text-dark fs-5" href="{% url 'get_category' category.slug %}">{{ category.category }}</a>
            </li>
            {% endfor %}
          </ul>
        </li>
      </ul>
      <!-- Formulario de búsqueda centrado -->
      <div class="mx-auto" style="width: 50%;">
        <form class="d-flex" role="search" action="{% url 'search' %}" method="get">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" name="query" style="width: 500px;">
          <button class="btn btn-outline-light" type="submit">
            <i class="bi bi-search"></i>
          </button>
        </form>
      </div>
      <!-- Elementos de navegación alineados a la derecha -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" href="{% url 'bookmark' %}">
            <i class="bi bi-bookmarks"></i>
            Marcadores
          </a>
        </li>
        {% if request.user.is_author %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
            <i class="bi bi-sliders"></i>
            Administrar
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="{% url 'manage:blog' %}">
                <i class="bi bi-book"></i>
                Artículos
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'manage:category' %}">
                <i class="bi bi-grid"></i>
                Categoría
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'manage:comment' %}">
                <i class="bi bi-chat-left-text"></i>
                Comentarios
              </a>
            </li>
          </ul>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" href="{% url 'accounts:profile' %}">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-circle" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
              <path d="M12 10m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
              <path d="M6.168 18.849a4 4 0 0 1 3.832 -2.849h4a4 4 0 0 1 3.834 2.855" />
            </svg>
            Perfil
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" href="{% url 'accounts:logout' %}">
            <i class="bi bi-box-arrow-right"></i>
            Cerrar sesión
          </a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" href="{% url 'accounts:login' %}">
            <i class="bi bi-box-arrow-in-right"></i>
            Iniciar Sesión
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" href="{% url 'accounts:register' %}">
            <i class="bi bi-person-add"></i>
            Registrarse
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>


<!-- Messages -->
<div class="container mt-3" id="msg-box">
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}
</div>

{% block body %}{% endblock %}

<br><br><br><br><br><br>
<!-- Footer -->
<section>
  <footer class="text-center text-white">
    {% if request.user.is_anonymous %}
    <div class="container p-4 pb-0">
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3">Regístrate gratis</span>
          <a class="btn btn-outline-light btn-rounded" href="{% url 'accounts:register' %}" role="button">Registrarse</a>
        </p>
      </section>
    </div>
    {% endif %}
    <div class="text-center p-3 copyright-text">
      2024 - 
      <a href="/">CloudCMS</a>
    </div>
  </footer>
</section>

<!-- Javascripts -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
